# Builds
/web/
app/tiles/

# QGIS junk
*.aux.xml
*.qgd
*.qmd
/data/qgis/*.gpkg-shm
/data/qgis/*.gpkg-wal

# Gramps backup file
data/*.gramps.bak

# Derived data
data/*.json

# Temp files
data/*.csv#

notes.txt
